.history{
	color: #d3d3d3;
}

.history ul{
	list-style: none;
	position: relative;
}
.history ul::before{
	content: '';
	position: absolute;
	left: 2.77vw;
	top: calc(50% + 3vw);
	transform: translate(0, -50%);
	width: 2px;
	height: calc(100% - 21vw);
	background: #d3d3d3;
}

.history li{
	padding: 6vw 0;
	padding-left: 9vw;
}

.history .inf{
	position: relative;
}
.history .inf::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 1px;
	background: #d3d3d3;
	z-index:-1;
}

.history .inf span{
	font-family: 'ExtraBold';
	font-size: 3.8vw;
	background: white;
}
.history .inf span:nth-child(1){
	padding-right: 3vw;
}
.history .inf span:nth-child(2){
	float: right;
	padding-left: 3vw;
}

.history h5{
	font-family: 'ExtraBold';
	font-size: 8.5vw;
	line-height: 6vw;
	position: relative;
}
.history h5::before{
	content: '';
	position: absolute;
	left: -7.75vw;
	top: 1.2vw;
	width: 3.7vw;
	height: 3.7vw;
	background: #d3d3d3;
	border-radius: 5vw; 
}

/*Active*/
.history .active-inf{
	position: relative;
	color: #e53935;
}
.history .active-inf::before{
	content: '';
	position: absolute;
	left: 2.77vw;
	top: 55%;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #e53935, #d3d3d3);
}
.history .active-inf .inf::before{
	content: '';
	background: transparent;
}
.history .active-inf span:nth-child(2){
	display: none;
}
.history .active-inf h5::before{
	content: '';
	background: #e53935;
}