.home .top-img{
	height: 38.2vh;
	background-image: url('../footage/top-bg.png');
	z-index: -1;
}

.sCar{
	position: relative;
	display: inline-block;
	text-align: center;
}
.sCar img{
	width: 9.5vw;
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translate(50%, 0);
}
.home h1{
	font-family: 'ExtraBold';
	font-size: 16.5vw;
	text-align: center;
}
.home h1::before{
	content: 'Seu carro';
	font-family: 'LightItalic';
	font-size: 6.8vw;
	position: absolute;
	top: -15%;
}

.home .container{
	text-align: center;
}

p{
	font-family: 'Light';
	font-size: 6.7vw;
	color: #212121;
	margin-bottom: 7%;
}
p b{
	font-family: 'SemiBold';
}
p b strong{
	font-family: 'BoldItalic'
}

.infs{
	margin-top: 10px;
	padding: 8% 0;
	width: 100%;
	margin: 0 auto;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #d3d3d3;
}
.home .inf{
	display: inline-block;
	padding: 0 10%;
}
.home .inf img{
	width: 16vw;
}
h2{
	font-family: 'ExtraBoldItalic';	
	font-size: 6vw;
	color: #212121;
}